<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
      <%= flash[:error] = @trip.errors.full_messages.to_sentence %>
  <% end %>

  <p>
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :seat_number, "Number of Seats"%><br />
    <%= f.select :seat_number, (1..10) %>
  </p>
  <p>
    <%= f.label :price, "Price Per Seat"%><br />
    <%= f.number_field :price %>
  </p>
  <p>
    <%= f.label :start_date, "Leaving On"%><br />
    <%= f.date_select :start_date, :order => [:month, :day, :year] %>
  </p>

  <p>
    <button type="submit" class="btn">Submit</button>
  </p>

<% end %>
