<center>
<h1>All Trips</h1>

</center>

    <center>
    <h6>To Sort The List Click on Origin, Destination, or Number of Seats</h6>
    <h6>* Indicates You Are The Driver Of The Trip</h6>
    <h3><%= link_to "Create A New Trip", new_trip_path %></h3>
    </center>


<div class="row">
  <div class="span5 offset1 wrapper-wrapper">
  
    <table class="trip_list">
      <tr>
        <th><%= sortable "origin" %></th>
        <th><%= sortable "destination" %></th>
        <th><%= sortable "number_of_seats", "Number of Seats" %></th>
      </tr>

    <% @trips.each do |trip| %>
      <tr>
        <th><%= trip.origin %></th>
        <th><%= trip.destination %></th>
        <th><%= trip.seat_number %></th>
        <th><%= link_to 'Show', trip %></th>
        <% if current_user.id == trip.user_id %>
        <th>*</th>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="span8 wrapper-mapwrapper">
    <%= gmaps("markers" => {data: @gmaps_options}, "polylines" => { data: @polylines_json}) %>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
function redirect_to(url) {
  window.location = url;
};
Gmaps4Rails.callback = function() { 
  function say_yo(arg) { return function(){alert('yo '+ arg + '!' );};};
    for (var i = 0; i <  Gmaps4Rails.markers.length; ++i) {
      google.maps.event.addListener(Gmaps4Rails.markers[i].google_object, 'click', redirect_to(Gmaps4Rails.markers[i].link));
    }
}
</script>
<% end %>