<h5>You Are Currently The Driver of <%= current_user.trips.count %> 
  <% if current_user.trips.count == 1 %>
    Trip
  <% else %>
    Trips
  <% end %>
</h5>

<h1>All Trips</h1>

<table>
  <tr>
    <th>Origin</th>
    <th>Destination</th>
    <th>Number of Seats</th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <th><%= trip.origin %></th>
    <th><%= trip.destination %></th>
    <th><%= trip.seat_number %></th>

    <th><%= link_to 'Show', trip %></th>
    <% if current_user.id == trip.user_id %>
    <th>*</th>
    <% end %>

  </tr>
<% end %>
</table>

<br />
<p><%= link_to 'New Trip', new_trip_path %></p>
<p>* Indicates You Are The Driver</p>

<%= gmaps("markers" => {data: @gmaps_options}, "polylines" => { data: @polylines_json}) %>