<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%=h @trip.origin %>
</p>
<p>
  <strong>Destination:</strong>
  <%=h @trip.destination %>
</p>

<p>
  <strong>Driver:</strong>
  <%= link_to @trip.user.username, user_path(@trip.user) %>
</p>

<p>
  <strong>Number of Seats:</strong>
  <%= @trip.seat_number %>
</p>

<p><strong>Current Taken Seats:</strong></p>
<ol>
<% @trip.seats.each do |s| %>
    <% if s.pending == false %>
      <li>
      <%= s.username %>
      </li>
    <% end %>
<% end %>
</ol>

<p><strong>Current Pending Requests:</strong></p>
<ol>
<% @trip.seats.each do |s| %>
    <% if s.pending == true %>
      <li>
      <% if current_user.id == @trip.user.id %>
        <%= form_for ([@trip,s]) do |t| %>
        <%= t.submit "Accept Passenger" %>
          <% end %>
      <% end %>
      <%= s.username %>
      </li>
    <% end %>
<% end %>
</ol>

<% if @trip.seats.map(&:user_id).include? current_user.id %>
  <%= form_for @trip, :url => unapply_for_trip_path(@trip, current_user.id) do |f| %>
  <%= f.submit "Unapply For Trip" %>
  <% end %>
<% else %>
  <% if @trip.seats.count < @trip.seat_number %>
    <%= form_for @trip, :url => apply_for_trip_path(@trip, current_user.id) do |f| %>
    <%= f.submit "Apply For Trip" %>
    <% end %>
  <% end %>
<% end %>

<p>
  <% if current_user.id == @trip.user.id %>
  <%= link_to "Edit", edit_trip_path(@trip) %> |
  <%= link_to "Destroy", @trip, :confirm => 'Are You Sure?', :method => :delete %> |
  <%= link_to "View All", trips_path %>
  <% else %>
  <%= link_to "View All", trips_path %>
  <% end %>
</p>

<%= gmaps("direction" => {data: { :from => @trip.origin, :to => @trip.destination}}) %>

<%= link_to "Directions For Trip", "https://maps.google.com/maps?saddr=" + @trip.origin.to_s + "&daddr=" + @trip.destination.to_s %>