<p id="notice"><%= notice %></p>

<p>
  <b>Origin:</b>
  <%= @trip.origin %>
</p>

<p>
  <b>Destination:</b>
  <%= @trip.destination %>
</p>

<p>
  <b>Longitude:</b>
  <%= @trip.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @trip.latitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @trip.gmaps %>
</p>

<%= link_to 'Back', trips_path %>
