<center>
<h1>Sign Up</h1>

<br>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <%= flash[:error] = @user.errors.full_messages.to_sentence %>
  <% end %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <button type="submit" class="btn">Create User</button>

<% end %>
</center>
