<div class="row">
	<div class="span2 offset2">
		<%= link_to image_tag("/carpool.jpg"), user_path(current_user) %>
	</div>
	<div class="span7">
		<center>
		<% if current_user.id == @user.id %>
			<h1>Hello: <%= @user.username %></h1>
			<h2>You Are Currently The Driver of <%= @user.trips.count %> 
				<% if @user.trips.count == 1 %>
					Trip
				<% else %>
					Trips
				<% end %>
			</h2>
			<h4>If A Trip Has A Pending Seat, Check It!</h4>
		<% else %>
			<h1>Welcome To : <%= @user.username %>'s Homepage</h1>
			<h3>Below Are A List Of Trips He/She Is Currently Apart Of</h3>
		<% end %>

		</center>
	</div>
</div>
<br></br>
<div class="row">
	<div class="span10 offset1">
		<h2>Driver Trips</h2>
		<table class = "table">
			<thead>
				<tr>
					<th>Origin</th>
					<th>Destination</th>
					<th>Number Of Seats</th>
					<th>Pending Seats</th>
					<th>Accepted Seats</th>
				</tr>
			</thead>
			<tbody>
				<% @user.trips.each do |t| %>
  					<tr>
						<th><%= link_to t.origin, t %></th>
						<th><%= link_to t.destination, t %></th>
						<th><%= t.seat_number %></th>
						<th><%= t.seat_pending_count %></th>
						<th><%= t.seat_accepted_count %></th>
  					</tr>
  				<% end %>
  				<th></th>
  				<th></th>
  				<th></th>
  				<th></th>
  				<th></th>
			</tbody>
		</table>
	</div>
	<div class="span2 offset1">
		<% if current_user.id == @user.id %>
			<h4>Overall Rating</h4>
			<%= ratings_for @user, :static %>
			<br></br>
		<% else %>
			<h4>Rate Me!</h4>
			<%= ratings_for @user, :show_user_rating => true %>
			<h4>Overall Rating</h4>
			<%= ratings_for @user, :static %>
			<br></br>
		<% end %>
		<p>
			<h4><%= link_to "View All Trips", trips_path %></h4>
		</p>
	</div>
</div>


<div class="row">
	<div class="span10 offset1">
		<h2>Passenger Trips</h2>
		<table class = "table">
			<thead>
				<tr>
					<th>Origin</th>
					<th>Destination</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<% @apart_of.each do |t| %>
				<tr>
					<th><%= link_to t.origin, t %></th>
					<th><%= link_to t.destination, t %></th>

				<% t.seats.each do |s| %>
					<% if s.pending == true %>
						<th>pending</th>
					<% else %>
						<th>accepted</th>
					<% end %>
				<% end %>
				</tr>

  				<% end %>
  				<th></th>
  				<th></th>
  				<th></th>
			</tbody>
		</table>
</div>