<!DOCTYPE html>
<html>
<head>
  <title>RideShare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= ajaxful_rating_style %>
  <%= csrf_meta_tags %>
  <%= yield :head %>

</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">RideShare</a>
        <div class="nav-collapse">
          <ul class="nav">
            <% if current_user %>
              <li><%= link_to "Home" , user_path(current_user) %></li>
              <li><%= link_to "Log out", log_out_path %></li>
              </div>
              <ul class="nav pull-right">
              <a class="brand" href="#"><%= current_user.username %></a>
          </ul>
               <% else %>
                  <li><%= link_to "Sign up", sign_up_path %></li>
                  <li><%= link_to "Log in", log_in_path %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>

<%= yield %>
<%= yield :scripts %>

</body>
</html>
